#login{
	color: #E6CAFF;
    position: absolute;
    width: 100px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 1240px;
    margin-top: 2%;
    padding: 15px;
    font-size: 25px;
    line-height: 0px;
    border-radius: 5px;
}
#setgood{
	color: #E6CAFF;
    position: absolute;
    width: 100px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 420px;
    margin-top: 5%;
    padding: 15px;
    font-size: 25px;
    line-height: 0px;
    border-radius: 5px;
}
#setsave{
	color: #E6CAFF;
    position: absolute;
    width: 100px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 560px;
    margin-top: 5%;
    padding: 15px;
    font-size: 25px;
    line-height: 0px;
    border-radius: 5px;
}

.onelist{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: -20%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist1{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 5%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist2{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 30%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist3{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 55%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist4{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 80%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist5{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 105%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist6{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 130%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist7{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 155%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist8{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 180%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist9{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 205%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist10{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 230%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist11{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 255%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist12{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 280%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist13{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 305%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}
.mylist14{
	list-style: none;
	text-indent: 10px;
    position: absolute;
    width: 160px;
    height: 6px;

    background: rgba(187, 236, 234, 0.2);

    left: 20px;
    margin-top: 330%;
    padding: 15px;
    font-size: 23px;
    line-height: 6px;
    border-radius: 5px;
}